<tr>
  <% @reader.shows[0].split(" ").each do |s|%>
      <td> <%= s %></td>
  <%end %>
</tr>
<tr>
  <% @reader.shows[1].split(" ").each do |s|%>
      <td> <%= s %></td>
  <%end %>
</tr>
<tr>
  <% @reader.shows[2].split(" ").each do |s|%>
      <td> <%= s %></td>
  <%end %>
</tr>
<tr>
  <% @reader.shows[3].split(" ").each do |s|%>
      <td> <%= s %></td>
  <%end %>
</tr>
<tr>
  <% @reader.shows[4].split(" ").each do |s|%>
      <td> <%= s %></td>
  <%end %>
</tr>
<tr>
  <% @reader.shows[5].split(" ").each do |s|%>
      <td> <%= s %></td>
  <%end %>
</tr>
<tr>
  <% @reader.shows[6].split(" ").each do |s|%>
      <td> <%= s %></td>
  <%end %>
</tr>
<tr>
  <% @reader.shows[7].split(" ").each do |s|%>
      <td> <%= s %></td>
  <%end %>
</tr>
