<p id="notice"><%= notice %></p>
<p>


<div class="center">
  <strong>line</strong>
  This is a single record table with the first record selected ( need to make conditions for other records formats)
  <table>
    <thead>

    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
    <th>Sun</th>

    </thead>
    <% @reader.sline2.each do |p| %>
        <td> <%= p %></td>
    <% end %>
  </table>
<table>
  This is a table with searched for records out of the whole file. Need to exctract all line elements end select ones we are interested in
  <thead>

      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
  </thead>
  <tbody>

  <% @reader.sline.each do |s| %>

      <td><%= s %></td>
  <% end %>

  </tbody>
</table>

</div>
</p>
<p>
  <strong>This are the record we are looking for</strong>
<ol><% @reader.string_beetewn_marker.each do |t| %>


            <li><%= t %></li>

        <% end %> </ol>
</p>


<%= link_to 'Edit', edit_reader_path(@reader) %> |
<%= link_to 'Back', readers_path %>
